/*
.Card {
    width: 250px;
    height: 148px;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.45), inset 6px 1px 0px rgba(255, 255, 255, 0.7) ;
    display: grid;
    padding: 16px 20px 16px 20px;
    grid-template-rows: 1fr 1fr;
    z-index: 1;
    cursor: pointer;
    background-color: whitesmoke;
    transition: 0.5s cubic-bezier(0.2, 0.8, 0.2, 1);

}
*/

.Card {
    width: 250px;
    height: 148px;
    position: relative;
    overflow: hidden;
    display: grid;
    padding: 16px 20px 16px 20px;
    grid-template-rows: 1fr 1fr;
    z-index: 1;
    cursor: pointer;
    color:#61677C;
    font-size: 16px;
    font-weight: 600;
    
    padding: 16px;
    border-radius: 32px;
    background-color: #EBECF0;
    box-shadow: -5px -5px 20px #fff,  5px 5px 20px #BABECC;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}
.Card .ImageContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px 10px 30px 10px;
}
.Card img {
    
   height: 30px;
    
    transition: 0.5s cubic-bezier(0.2, 0.8, 0.2, 1);

}

.Card .Upper {
    color: rgba(49,56,60);
    text-shadow: 1px 1px 0 #fff;
    font-size: 24px;
    width: 100%;
    margin: 0; 
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.Card .Upper h3 {
    color: rgba(49,56,60);
    text-shadow: 1px 1px 0 #fff;
    margin: 0;
    position: relative;
}

.Card .Bottom {
    color: rgba(49,56,60);
    text-shadow: 1px 1px 0 #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0;
    font-weight: 600;
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.Card .Bottom p {
    margin: 0;
    position: relative;
}

.Card:hover {
    box-shadow: -2px -2px 5px #fff, 2px 2px 5px #BABECC;
    color: #dbc312;
}

.Card:active {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #fff;
    color: #dbc312;
  }
/*
.Card:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
}
.Card:hover img {
    transform: translateY(-10px)
}
*/