.Header {
    position: fixed;
    width: 100vw;
    padding: 20px 0;
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: 2s cubic-bezier(0.2, 0.8, 0.2, 1)
}

.HeaderGroup {
    width: 100vw;
    max-width: 800px;
    margin: 10px 10px ;
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: space-around;
    align-items: center;
}

.Header a {
    color: #BABECC;
    text-shadow: 1px 1px 1px #fff;
    font-weight: 500;
    font-size: 16px;
}

.Header button {
    color: #b9a50e;
    text-shadow: 0.5px 0.5px 0.5px #ffe205;
    background: #dbc312;
    padding: 8px 20px;
    font-weight: 500;
    border: none;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    transition: 0.3s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.HeaderScrolled {
    background-color:#EBECF0;
    padding: 0px;
    box-shadow: 0px 2px 3px rgb(0, 0, 0, 0.1);
    /*backdrop-filter: blur(20px); 
    -webkit-backdrop-filter: blur(20px);*/
}

.Header button:hover {
    background: rgb(0, 0, 0);
    box-shadow: 0 10px 20px rgba(0,0,0,0.25);
    transform: translateY(-3px) scale(1.1);
}

@media (max-width: 640px) {
    .Header {
        padding: 10px 0;
    }

    .HeaderGroup {
        grid-template-columns: repeat(4m auto);
    }

    .Header a:nth-child(4) {
        display: none;
    }
}