@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap');




html {
  width: 100vw;
  box-sizing: border-box;
  overflow-x: hidden;
}
body {
  font-family: -apple-system, BlinkMacSystemFont,  Roboto, sans-serif;
  margin: 0;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.3;
  overflow-x: hidden;
  height: 100%;
  width: 100vw;
}

a{
  color: #dbc312;
  text-decoration: none;
  font-weight: 600;
  
}


.Hero {
  background: #EBECF0;
  max-height: 920px;
  width: 100vw;
  background-size: cover;
  background-position: center;
  position: relative;
  border-bottom: 1px solid #BABECC;
  padding-top: 50px;
  
}

.HeroGroup {
  margin: 0 auto;
  max-width: 600px;
  padding: 150px 50px;
  text-align: center;
 
}

.Hero h1 {
  opacity: 0;
  margin: 0;
  color: #222;
  text-shadow: 0.5px 0.5px 0.5px #fff;
  font-size: 100px;
  line-height: 1.2;
  animation: HeroAnimation;
  animation-duration: 2s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Hero p {
  opacity: 0;
  color: #BABECC;
  text-shadow: 1px 1px 1px #fff;
  line-height: 1.5;
  animation: HeroAnimation 2s 0.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Hero a {
  color:#61677C;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  text-shadow: 1px 1px 0 #fff;
  padding: 16px;
  border-radius: 32px;
  background-color: #EBECF0;
  box-shadow: -5px -5px 20px #fff,  5px 5px 20px #BABECC;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}
.Hero a:hover {
  box-shadow: -2px -2px 5px #fff, 2px 2px 5px #BABECC;
  color: #dbc312;
}

.Hero a:active {
  box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #fff;
  color: #dbc312;
}

/*
.Hero a {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 600;
  color: rgba(255,255,255);
  
  background: rgba(0,0,0, 0.7);
  padding: 8px 20px;
  border-radius: 20px;
  border: 1px solid rgba(255,255,255,0.25);
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}
*/
.Cards {
 background: #EBECF0;
 width: 100vw;
 padding: 20px;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.Cards h2 {
  font-size: 48px;
  color: #222;
  text-shadow: 1px 1px 0 #fff;
  /*background: linear-gradient(104deg, #ee4806 0%, #ee1133 100%);
  
  background: linear-gradient(104deg, #050A27 0%, rgb(28, 43, 128) 100%);

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
*/
}


.CardGroup {
  margin: 50px 40px 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  align-items: center;
}
/*
.Hero a:hover {
  background:  #dbc312;
  color: white;
}
*/
.Hero .Logos {
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
  margin: 50px 0;
  justify-items: center;
  z-index: 50;
}

@media (max-width: 1060px) {
  .CardGroup {
    grid-template-columns: repeat(2, 1fr)
  }
}

@media (max-width: 720px) {
  .CardGroup {
    grid-template-columns: repeat(1, 1fr)
  }
}

@media (max-width: 640px) {
  .HeroGroup {
    padding: 100px 20px;
  }

  .Hero h1 {
    font-size: 40px;
  }
  .Hero p {
    font-size: 18px;
  }

  .Hero .Logos {
    grid-template-columns: repeat(3, 1fr);
    
  }

}


@keyframes HeroAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.Hero .Cards {
  position: relative;
  z-index: 80;
}
/*
.Hero svg {
  position: absolute;
  left: 0;
  bottom : 0;
 
}
*/
/*
a{
  color: #f7e70c;
  text-decoration: none;
  font-weight: 600;
  transition-timing-function: ease-in-out;
  transition-duration: 1s;
}

a:hover {
  background-color: #f7e70c42;
  border: 1px solid #f7e70c ;
  border-radius: 12px;
  padding: 0px 8px 0px 8px;
  text-align: center;
}

*/